{% extends 'base_light_login.html' %}
{% block content %}
<body>
    <div class="content">
        <div class="car">
           <h2>Witamy na portalu dealera samochodów</h2>
            <br>
            <ul><a href="/car_dealer_portal/add_car/">Dodaj nowy samochód</a></ul>
            <br>
            <ul><a href="/car_dealer_portal/car_list/">Lista samochodów</a></ul>
            <br>
            <ul><a href="/car_dealer_portal/order_list/">Zamówienia</a></ul>
            <br>
            <ul><a href="/car_dealer_portal/order_list/">Historia</a></ul>
        </div>
    </div>
</body>
{% endblock %}

