{% extends 'base_light_login.html' %}
{% block content %}
<body>
    <div class="content">
        <div class="car">
           <h2>Witamy na portalu klienta</h2>
            <br>
            <ul><a href="/customer_portal/search/">Wyszukaj</a></ul>
            <br>
            <ul><a href="/customer_portal/order/">Twoje rezerwacje</a></ul>
            <br>
            <ul><a href="/customer_portal/update_order/">Edytuj rezerwacje</a></ul>
            <br>
            <ul><a href="/customer_portal/delete_order/">Usuń rezerwacje</a></ul>
    </div>
</body>
{% endblock %}
